div.wrapper {

    height: 100%;
    width: 100%;

}

div.Banner {
    width: 100%;
    padding:2px;
    background-color: #333333;
    color: whitesmoke;
    font-family:"Times New Roman", Times, serif;
}

#banner_wrapper {
    width: 100%;
}

div.Logo {
    font-size:200%;
    width: 30%;
    text-align:center;
    text-decoration:none;
}
div.estDate {
    margin-top: 1cm;
    margin-right: 2cm;
    float: right;
    font-size:125%;
}

div.mainPanel {

    width: 100%;
    min-width:100%;
    height: 83.33%;
    min-height: 50%;
    background-color: #fff;

}

div.image_area {
    background-image: url("images/city panorama.jpg");
    width: 100%;
    height: 57.55%;
    background-size:contain;
    background-repeat: no-repeat;
}

div.image_area_center {
   top: 25%;
   left: 25%;
   height: 100%;
   width: 80%;
   position: center;

}

img.banner_logo{
    margin-left: 5%;
    float: left;
    width: 30%;
    height: 30%;
    display: inline-block;

}

.logo h1{
    margin-top: 5%;
}

a.logo_link {

    color: whitesmoke;
    text-decoration:none;


}

a.banner_menu_option {
    color: whitesmoke;
    text-decoration:none;


}

img.cheat {
    width: 100%;
    visibility: hidden;
}

div.footer {
   background-color: #333333;
    text-align:center;
    padding:5px;
    color:gold;
}
p.panelTitle {
    margin-top: 8px;
    margin-left: 5px;
}

ul.banner_menu {
    text-align: right;
    font-size: 125%;
    width: 100%;
    background-color: lightslategray;
    padding: 0.5%;
   /* border-bottom:5px solid #CC9900; */
    margin: 0px 0px 0px 0px ;

    display: inline-block;
}
li.banner_menu_option {

    border:0px solid rgb(100,100,100);
    border-radius: 5%;
    display: inline-block;
    padding: 0px 0px 0px 3px ;
   /* background-color: gold; */
}
ul li.banner_menu_option {
    width: 200px;
    display: inline-block;
    position: relative;
    text-align: center;
    line-height: 21px;
}
ul li.banner_menu_option ul {
    display: none;
    position: absolute;
    z-index: 999;
    left: 0;
}

body {
    margin: 0px;
}

/*
a:link    {

    background-color:transparent;
    text-decoration:none;
}
a:visited {

    background-color:transparent;
    text-decoration:none;
}
a:hover   {

    background-color:transparent;
    text-decoration:none;
}
a:active  {

    background-color:transparent;
    text-decoration:none;
}
*/


